#voteButtonContainer {
  margin: 132px auto;
  text-align: center;
}

#voteButton {
  text-decoration: inherit;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1em 5em;
  background-color: #4c7a34;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover {
    background-color: #5c8a44;
    box-shadow: 5px 5px 7px rgba(39, 33, 33, 0.5);
  }

  &:active {
    background-color: #3c6a24;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  }
}