ul.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 4rem 0;
  list-style: none;
  font-weight: bold;

  li.pagination-prev, li.page-li, li.pagination-next {
    margin: 0 3px;
    transition: background-color 0.2s;
    @media screen and (max-width: 374px) {
      padding: 0.5rem 0;
    }
    @media screen and (min-width: 375px) {
      padding: 1rem 0;
    }
    a {
      @media screen and (max-width: 374px) {
        padding: 0.5rem 0.6rem;
      }
      @media screen and (min-width: 375px) {
        padding: 1rem 1.2rem;
      }
      border: 1px solid #e0e0e0;
    }

    &:hover:not(li.disabled):not(li.active) {
      background-color: #e3eeff;
    }
  }

  li.active {
    color: #ffffff;
    background-color: #1464f6;
  }

  li.disabled {
    color: #ccc;
  }

  li.pagination-prev.disabled, li.pagination-next.disabled {
    display: none;
  }
}