ul.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 4em 0;
  list-style: none;
  font-weight: bold;

  li.pagination-prev, li.page-li, li.pagination-next {
    margin: 0 3px;
    padding: 1em 0;
    transition: background-color 0.2s;
    a {
      padding: 1em 1.2em;
      border: 1px solid #e0e0e0;
    }

    &:hover:not(li.disabled):not(li.active) {
      background-color: #e3eeff;
    }
  }

  li.active {
    color: #ffffff;
    background-color: #1464f6;
  }

  li.disabled {
    color: #ccc;
  }

  li.pagination-prev.disabled, li.pagination-next.disabled {
    display: none;
  }
}