@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/elements/button';
@import '@/css/fix.scss';

body {
  margin: 0;
  font-family: "Helvetica Neue",
  "Arial",
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  "Meiryo",
  "sans-serif";
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
}

@font-face {
  font-family: "Tryst";
  src: url('/fonts/tryst.otf');
}
