body {
  margin: 0;
  font-family: "Helvetica Neue",
  "Arial",
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  "Meiryo",
  "sans-serif";
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
}
